# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  Default

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  CERT_THUMBPRINT: 'FCFDDD025F347235D462F9383D9E81EF3E600276'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CopyFiles@2
  displayName: "Stage Exe"
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: '**\Release\**\ConsoleApp1.exe'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    flattenFolders: true

- task: PublishBuildArtifacts@1
  displayName: "Publish Unsigned Exe"
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)\ConsoleApp1.exe'
    ArtifactName: 'Unsigned Exe'
    publishLocation: 'Container'

- template: sign_publish_verify_signtool.yml

# - task: CmdLine@2
#   inputs:
#     script: signtool sign /sha1 $(CERT_THUMBPRINT) /tr http://timestamp.digicert.com $(Build.ArtifactStagingDirectory)\ConsoleApp1.exe
#   displayName: "Sign Exe"

# - task: PublishBuildArtifacts@1
#   displayName: "Publish Signed Exe"
#   inputs:
#     PathtoPublish: '$(Build.ArtifactStagingDirectory)\ConsoleApp1.exe'
#     ArtifactName: 'Signed Exe'
#     publishLocation: 'Container'
    
# - task: CmdLine@2
#   inputs:
#     script: signtool verify /v /pa $(Build.ArtifactStagingDirectory)\ConsoleApp1.exe
#   displayName: "Verify Exe"
